[submodule "catkin_ws/src/rapicam_node"]
	path = catkin_ws/src/rapicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node.git
[submodule "catkin_ws/src/pwm_radio_arduino"]
	path = catkin_ws/src/pwm_radio_arduino
	url = git@github.com:serge-m/pwm_radio_arduino.git
