<?xml version="1.0"?>
<launch>
    <!-- Nodes that are responsible for the communication with hardware, like cameras, arduino, ESC etc. -->
    <node name="serial_node" pkg="pwm_radio_arduino" type="rosserial_python2_bridge.py"
          args="/dev/ttyUSB0 _baud:=115200" output="screen"/>

    <node name="steering_translator_node" pkg="steering_translator" type="steering_translator_node.py" output="screen"/>
    <node name="dynamic_reconfigure_load_translator" pkg="robocar_config" type="dynparam"
          args="load /steering_translator_node $(find robocar_config)/steering_translator.yaml"/>

    <remap from="/camera/color/image_raw" to="/camera/rgb/image_raw"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="false"/>
        <arg name="enable_fisheye" value="false"/>
        <arg name="enable_depth" value="false"/>
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="enable_color" value="true"/>

        <arg name="enable_infra" value="true"/>
        <arg name="enable_infra1" value="true"/>
        <arg name="fisheye_fps" value="30"/>
        <arg name="color_fps" value="30"/>
    </include>

    <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /camera/stereo_module $(find robocar_config)/realsense.yaml" />
</launch>
