<launch>
  <arg name="model" default="$(find robocar_description)/urdf/robocar.urdf"/>
  <arg name="world_name" default="$(find robocar_description)/urdf/road_boxes2.world"/>

  <include file="$(find robocar_description)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <rosparam command="load"
            file="$(find robocar_description)/config/diffdrive.yaml"
            ns="robocar" />

  <node name="robocar_controller_spawner" pkg="controller_manager" type="spawner"
    args="robocar"/>

</launch>
