<?xml version="1.0"?>
<launch>

  <!-- <arg name="world_name" default="$(find robocar_world)/worlds/conde.world"/> -->
  <arg name="world_name" default="$(find robocar_world)/worlds/straight_road.world"/>

  <include file="$(find robocar_simulation)/launch/robocar_sim.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- <arg name="camera_params" default="$(find robocar_config)/camera_calibration.yaml"/> -->
  <!-- <arg name="goal_mode" default="forward" /> -->

  <!-- node for visualizing camera images -->
  <!-- <node name="image_view" pkg="image_view" type="image_view">
      <remap from="image" to="camera/rgb/image_raw" />
  </node> -->
 
  <!-- <node name="republish" pkg="image_transport" type="republish" args="raw in:=/camera/rgb/image_raw compressed out:=/raspicam_node/image" />  -->
  
  <!-- <node type="lf_node.py" pkg="lane_follow" name="lf_node" output="screen">
    <param name="camera_params" value="$(arg camera_params)"/>
  </node> -->

  <!-- <arg name="rvizconfig" default="$(find robocar_simulation)/config/robocar.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
  <!-- <node type="pid_supervisor.py" pkg="pid_controller" name="pid_supervisor" output="screen"> -->
  <!-- </node> -->
  
  <!-- <node type="gtg.py" pkg="pid_controller" name="gtg" output="screen">
  </node> -->
   <!-- <arg name="velocity" default="0.5"/>
  <node type="waypoint_publisher.py" pkg="waypoint_publisher" name="waypoint_publisher" output="screen">
    <param name="velocity" value="$(arg velocity)"/>
    <param name="form" value="straight"/> -->
    <!-- <param name="form" value="45degree"/> -->
    <!-- <param name="form" value="parabola"/> -->
  <!-- </node> -->

  <!-- rosrun waypoint_follower pure_pursuit -->
  <!-- <arg name="linear_interpolate_mode" default="True"/>	
	<node pkg="waypoint_follower" type="pure_pursuit" name="pure_pursuit" output="log">
		<param name="linear_interpolate_mode" value="$(arg linear_interpolate_mode)"/>
	</node> -->





</launch>